.categories-container{
  padding: 20px;
  width: 100%;
  background-color: #495057;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icon-button{
  border: none;
  padding: 5px;
  color: #FFF;
  background-color: #6b8299;
  border-radius: 5px;
}