/* HEADER */
.food-page {
  background-color: rgba(243, 198, 140, 0.589);
  text-align: center;
}

h1 {
  font-family: "Bebas Neue", cursive;
  color: rgb(241, 177, 177);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.493);
}

.header {
  padding-bottom: 30px;
}

.header-btn {
  display: flex;
  justify-content: center;
}

.icon-button {
  border: 1px solid rgba(255, 255, 255, 0.747);
  background-color: rgba(255, 186, 186, 0.541);
  padding: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgba(141, 105, 60, 0.815);
}