.food-recipes {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}

.food-pic {
  padding: 25px;
}

.food-img {
  border: 2px solid #fff;
  border-radius: 5px;
}

.food-name {
  padding-top: 10px;
  font-weight: 600;
  color: #fff;
}

.linkto {
  text-decoration: none;
}

p {
  font-size: 20px;
  text-align: center;
  -webkit-text-stroke: 1px rgba(8, 8, 8, 0.5);
}