.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #68d8d6;
}

.footer-icon {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-btn {
  width: 100px;
  padding: 10px;
  border: none;
  background-color: #68d8d6;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.footer-img {
  width: 30px;
  height: 30px;
}