.footer{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
}

.footer-btn{
  border: none;
  padding: 5px;
  width: 100%;
  background-color: #cacbcc;
}

.footer-icon{
  width: 100%;
}

.tops-img{
  width: 20px;
  height: 20px;
}

.footer-img{
  width: 35px;
  height: 35px;
}