.login-page {
  background: url(../images/food-background.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-container {
  border: 2px solid #0000008e;
  border-radius: 10px;
  background-color: rgb(72, 92, 97);
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-weight: 700;
  width: 400px;
  height: 400px;
}

.row100 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 90px;
}

.row100 span {
  padding-top: 10px;
}

#email {
  padding: 10px;
  width: 100%;
}

#password {
  padding: 10px;
  width: 100%;
}

.button-container {
  padding-left: 55px;
  padding-top: 20px;
}
